body{
margin:0;
padding:0;
background-color:white;
}

.me{
background-color:black;
}
.me:hover{
opacity:0.5;
transition:all 0.9s ease-in;
}

hr{
width:30%;
height:2px;
color:black;
}

.about{
text-align:center;
font-family: 'Merriweather', serif;
font-size:450%;
color:white;
width:100%;
}

h1:after{
height:2px;
display:block;
content:" ";
margin:0 auto;
}

.produce{
color:white;
text-align:center;
font-size:150%;
font-family: 'Merriweather', serif;
}

.about2{
color:white;
text-align:center;
font-size:120%;
padding:30px;
font-family: 'Merriweather', serif;
}

.three{
text-align:center;
color:#485283;
font-family: 'Merriweather', serif;
}

span{
background-color:#EEF0FB8;
font-family: 'Merriweather', serif;
font-size:400%;
color:#C8DF57;
text-shadow:7px 7px 7px grey;
}

button{
margin-left:59%;
font-size:120%;

}

.style {
    margin-left:45%;
    margin-top:50px;
    width: 150px;
    height: 150px;
transition: width 2s, height 2s, transform 2s;
}

 
.style:hover {
    width: 150px;
    height: 150px;
    transform: rotate(360deg);
}

.inovate{
text-align:center;
font-size:150%;
bottom:150%;
font-family: 'Merriweather', serif;
color:#485283;
text-shadow:5px 5px 5px #C8DF57;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ideas{
text-align:center;
font-size:400%;
font-family: 'Merriweather', serif;
margin-top:70px;
margin-bottom:0px;
}

.and{
font-family: 'Merriweather', serif;
font-size:150%;
}

.create{
text-align:center;
font-size:130%;
font-family: 'Merriweather', serif;
}

.front{
font-size:250%;
color:white;
font-family: 'Merriweather', serif;
background-color:black;
width:100%;
margin-top:100px;
text-align:center;
}


.showcase{
list-style:none;
width:80%;
}

.showcase li{
display:block;
width:25%;
float:left;
}

.image-photo{
width:100%;
margin-left:50%;
}

.image-photo img{
width:80%;
height:30%;
transition:transform 0.5s;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-bottom:35px;
}

.image-photo img:hover{
transform:scale(1.25);
opacity:0.80;
}

.pp2{
font-size:120%;
text-align:justify;
margin-left:20%;
font-family: 'Merriweather', serif;
}

.contribute{
text-align:center;
font-size:250%;
font-family: 'Merriweather', serif;
margin-top:90px;
margin-bottom:40px;
margin-left:20%;
}
.passion{
font-family: 'Merriweather', serif;
font-size:80%;
text-align:justify;
margin-left:20%;
margin-bottom:70px;
}

.work{
text-align:center;
background-color:#ADD8E6;
width:95%;
margin-left:7%;
padding:50px;
border:3px solid black;
border-radius:30px;
}

.work2{
font-family: 'Merriweather', serif;
font-size:160%;
}

.together{
font-family: 'Merriweather', serif;
font-size:80%;
text-align:justify;
margin-bottom:50px;
}

a{
font-size:70%;
text-decoration:none;
font-family:verdana;
letter-spacing:7px;
border:4px solid black;
border-radius:20px;
padding:5px;
color:white;
width:100%;
}

a:hover{
background-color:white;
color:black;
transition:all 0.9s ease-in;
opacity:0.9;
}